# clang format style by aurelien.esnard@u-bordeaux.fr

---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 120
TabWidth: 8
UseTab: Never
DerivePointerAlignment: false
PointerAlignment: Left
# BreakBeforeBraces: Attach
BreakBeforeBraces: Linux
---

# Warning: an empty line is required at the end of this file.